absl-py==2.1.0
affine==2.4.0
aiobotocore==2.13.0
aiohttp==3.9.5
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.13.1
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
atpublic==4.1.0
attrs==23.2.0
Automat==22.10.0
backoff==2.2.1
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.1.0
botocore==1.34.106
branca==0.7.2
cachetools==5.3.3
Cartopy==0.23.0
catboost==1.2.5
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
circuit-knitting-toolbox==0.7.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmdstanpy==1.2.4
colorama==0.4.6
colorful==0.5.6
comm==0.2.2
constantly==23.10.4
contextily==1.6.0
contourpy==1.2.1
cryptography==42.0.7
cssselect==1.2.0
cycler==0.12.1
dacite==1.8.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
dlt==0.4.12
dnspython==2.6.1
duckdb==1.0.0
et-xmlfile==1.1.0
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.14.0
fiona==1.9.6
flatbuffers==24.3.25
folium==0.16.0
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.6.0
future==1.0.0
gast==0.4.0
geocoder==1.38.1
geographiclib==2.0
geopandas==0.14.4
geoplot==0.5.1
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
giturlparse==0.12.0
google-api-core==2.19.0
google-auth==2.30.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.63.1
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.64.1
h5py==3.11.0
hexbytes==1.2.0
holidays==0.53
htmlmin==0.1.12
humanize==4.9.0
hyperlink==21.0.0
ibm-cloud-sdk-core==3.20.1
ibm-platform-services==0.53.7
idna==3.7
ImageHash==4.3.1
imbalanced-learn==0.12.3
importlib_metadata==7.1.0
importlib_resources==6.4.0
incremental==22.10.0
ipycytoscape==1.3.3
ipykernel==6.29.4
ipython==8.23.0
ipywidgets==8.1.2
itemadapter==0.9.0
itemloaders==1.3.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonpath-ng==1.6.1
jsonpickle==3.0.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.10
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
llvmlite==0.42.0
lxml==5.2.2
makefun==1.15.2
mapclassify==2.6.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.6
mdurl==0.1.2
mercantile==1.2.1
mistune==3.0.2
ml-dtypes==0.4.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multimethod==1.11.2
mysql-connector-python==8.4.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.59.1
numpy==2.0.1
oauthlib==3.2.2
opencensus==0.11.4
opencensus-context==0.1.3
openpyxl==3.1.3
openqasm3==0.5.0
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-requests==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.9.10
packaging==24.0
pandas==2.2.2
pandocfilters==1.5.1
parsel==1.9.1
parso==0.8.4
parsy==2.1
pathvalidate==3.2.0
patsy==0.5.6
pbr==6.0.0
pendulum==3.0.0
phik==0.12.4
pillow==10.3.0
platformdirs==4.2.0
plotly==5.22.0
ply==3.11
prometheus_client==0.20.0
prompt-toolkit==3.0.43
prophet==1.1.5
Protego==0.3.1
proto-plus==1.23.0
protobuf==4.25.3
prototype-zne==1.3.1
psutil==5.9.8
psycopg2==2.9.9
pure-eval==0.2.2
py-spy==0.3.14
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
PyDispatcher==2.0.7
pydot==2.0.0
Pygments==2.17.2
PyJWT==2.8.0
pylatexenc==2.10
pymongo==4.7.3
PyMySQL==1.1.1
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
pyspnego==0.10.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyWavelets==1.6.0
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
qc_grader @ git+https://github.com/qiskit-community/Quantum-Challenge-Grader.git@bcaff898473fd54f3e2668f162817947787f7268
qiskit==1.1.0
qiskit-aer==0.14.2
qiskit-ibm-provider==0.11.0
qiskit-ibm-runtime==0.23.0
qiskit-qasm3-import==0.4.2
qiskit-serverless==0.12.0
qiskit-transpiler-service==0.4.3
queuelib==1.7.0
rasterio==1.3.10
ratelim==0.1.6
ray==2.20.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.2
requests-file==2.1.0
requests-ntlm==1.2.0
requests-oauthlib==2.0.0
requirements-parser==0.9.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
rustworkx==0.14.2
s3fs==2024.6.0
scikit-learn==1.5.1
scipy==1.14.0
Scrapy==2.11.2
seaborn==0.13.2
semver==3.0.2
service-identity==24.1.0
shapely==2.0.4
simplejson==3.19.2
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
snowflake-connector-python==3.10.1
snowflake-snowpark-python==1.18.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
spectate==1.0.1
SQLAlchemy==2.0.30
sqlglot==23.12.2
squarify==0.4.3
sspilib==0.1.0
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.2
stevedore==5.2.0
symengine==0.11.0
sympy==1.12.1
tenacity==8.3.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
time-machine==2.14.1
tinycss2==1.3.0
tldextract==5.1.2
tomlkit==0.12.5
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
traitlets==5.14.2
Twisted==24.3.0
twisted-iocpsupport==1.0.4
typeguard==4.2.1
types-setuptools==70.0.0.20240524
typing_extensions==4.11.0
tzdata==2024.1
ucimlrepo==0.0.7
urllib3==2.2.1
vega-datasets==0.9.0
virtualenv==20.26.2
visions==0.7.6
w3lib==2.1.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wget==3.2
widgetsnbextension==4.0.10
win-precise-time==1.4.2
wordcloud==1.9.3
wrapt==1.14.1
xgboost==2.1.0
xmltodict==0.13.0
xyzservices==2024.4.0
yarl==1.9.4
ydata-profiling==4.8.3
zipp==3.19.2
zope.interface==6.4.post2
